{% extends 'admin_templates/base.html' %}
{% block page_title %}
Manage Session
{% endblock page_title %}
{% block main_content %}
{% load static %}

<section class="content">
    <div class="container-fluid">
      <a href="{% url 'add_session' %}"button" class="btn btn-primary">+ Add Session<br> </a>
        {% if messages %}
        <div class="form-group">
            <div class="col-12">
              {% for message in messages %} {% if message.tags == "error" %}
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                style="margin-top: 10px"
              >
                {{ message }}
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% elif message.tags == "success" %}
              <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
                style="margin-top: 10px"
              >
                {{ message }}
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
          {% endif %}


        
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display:flex; justify-content:space-between">
                        <h3 class="card_title">Session Details</h3>
                        <div class="card-tools">
                            <div class="input input-group-sm" style="width:150px; display:flex">
                                
                                <div class="input-group-append">
                                    <button type='submit' class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Session Start Year</th>
                                    <th>Session End Year</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for session_year in session_years %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ session_year.session_start_year }}</td>
                                    <td>{{ session_year.session_end_year }}</td>
                                    <td><a href="{% url 'edit_session' session_year.id %}" class="btn btn-success mr-4">Edit</a><a href="{% url 'delete_session' session_year.id %}" class="btn btn-danger">Delete</a></td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}

